<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars satellites</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Visit Mars</h1>
      <p>Cerberus. Schiaparelli. Syrtis. Valles Marineris.</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>

    <ul style="list-style: none;">
       
        <li>{{mars.title}}</li>
        <li>{{mars.news_p}}</li> 
        <li>{{mars.feature_image}}</li>
        <li>{{mars.html_table}}</li>
    </ul>
</div>
  <div class="container text-center">
  <h1 class="jumbotron">Mars Hemisphere</h1>
  <div>
    <ul style="list-style: none;">

      </div>
    </ul>
  </div>
  </div>
  
</body>

</html>

